<div  fx fxLayout="column" class="login-background" [ngStyle]="{'background-image':loginBackgroundimage}">
  <div fx fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center"  class="login-card" style="color:black; background-color: white; width:400px">
        <mat-card-header>

        </mat-card-header>
      
        <mat-card-content class="text-center">
          <div>
              <i class="font-size-fixed-18">
                  Login
              </i>
          </div>
          <form>
            <mat-form-field class="mat-form-field-block">
               <input matInput placeholder="Email">    
            </mat-form-field>
            <mat-form-field class="mat-form-field-block">
                <input matInput placeholder="Enter password" type="password">    
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions fxLayout="column" fxLayoutAlign="center center" class="full-width" >
          <button  class="width-70-percent font-size-fixed-14" mat-fab>Login</button>
          
        </mat-card-actions>
        <p>Do not have a account? <a href="#">click</a> to sign in</p>
      </mat-card>
    </div>

</div>