<div  fx fxLayout="column" class="login-background" [ngStyle]="{'background-image':loginBackgroundimage}">
  <div fx fxLayoutAlign="center center">
    <mat-card fxLayout="column" fxLayoutAlign="center center"  class="login-card">
        <mat-card-header>

        </mat-card-header>
      
        <mat-card-content class="text-center">
          <div>
              <i class="font-size-fixed-18">
                  Create an acount
              </i>
          </div>
          <form (ngSubmit)="onSubmit()">
              <mat-form-field class="mat-form-field-block">
                  <input matInput placeholder="First name" name="firstName"  [(ngModel)]="person.firstName"
                  required>    
               </mat-form-field>
               <mat-form-field class="mat-form-field-block">
                  <input matInput placeholder="Last name" name="lastName" required [(ngModel)]="person.lastName">    
               </mat-form-field>
               <mat-form-field class="mat-form-field-block">
                  <input matInput placeholder="Address of your resturant" name="address" [(ngModel)]="person.address" required>    
               </mat-form-field>
            <mat-form-field class="mat-form-field-block">
               <input matInput placeholder="Email" [(ngModel)]="person.email" name="email" required>    
            </mat-form-field>
            <mat-form-field class="mat-form-field-block">
                <input matInput placeholder="Enter password" type="password" [(ngModel)]="person.password" name="password" required>    
            </mat-form-field>
            <mat-form-field class="mat-form-field-block">
                <input matInput placeholder="Confirm password" type="password" [(ngModel)]="person.confirmPassword" name="confirmPassword" required>    
            </mat-form-field>
            <div fxLayout="column" fxLayoutAlign="center center" class="full-width padding-top-15" >
                <button  class="full-width font-size-fixed-14" type="submit" mat-fab>SignUp</button>
            </div>  
             
          </form>
        </mat-card-content>
        
        
        <p>Have an account? <a routerLink="/login">click</a> to sign in</p>
      </mat-card>
    </div>

</div>