/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,body{
    height: 100%;
    margin: 0px;
}
.text-center {
    text-align: center;
}
.full-width{
    width: 100%;
}
.font-size-fixed-18{
  font-size: 18px !important;
}
.mat-form-field-block{
    display: block !important;
}
.width-70-percent{
    width: 70%;
}
.font-size-fixed-14{
    font-size:14px
}
.padding-top-15{
    padding-top: 15px !important;
}